<template>
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h1>Create thy character, my liege</h1>
			<form>
				<FormNames></FormNames>
				<FormAbilities></FormAbilities>
				<FormClass></FormClass>
				<FormEquipment v-if="characterClass"></FormEquipment>
			</form>
		</div>
		<div class="col-md">
			<h1>Thy character sheete, m'lord</h1>
			<CharacterSheet></CharacterSheet>
			</div>
		</div>
	</div>
</template>

<script>
    import { mapState } from 'vuex'
import FormNames from './FormNames.vue'
import FormAbilities from './FormAbilities.vue'
		import FormClass from './FormClass.vue'
		import FormEquipment from './FormEquipment.vue'
		import CharacterSheet from './CharacterSheet.vue'

export default {
    name: 'CharacterForm',
    props: {},
    components: {
	FormNames,
	FormAbilities,
		FormClass,
		FormEquipment,
		CharacterSheet
    },
		computed: {
		...mapState(['characterClass'])
		}
}
</script>
