<template>
	<div>
		<p>View the source: <a href="https://bitbucket.org/soda_hobart/character/src">https://bitbucket.org/soda_hobart/character/src</a></p>
<dl class="row">
    <dt class="col-sm-3">Player Name:</dt>
  <dd class="col-sm-9">{{ names.playerName }}</dd>
  </dl>
  <dl class="row">
    <dt class="col-sm-3">Character Name:</dt>
  <dd class="col-sm-9">{{ names.characterName }}</dd>
  </dl>
	<dl class="row">
    <dt class="col-sm-3">Class:</dt>
  <dd v-if="characterClass" class="col-sm-9">{{ characterClass.className }}</dd>
    </dl>
  <hr>
	<h4>Abilities</h4>
	<div class="row">
	<div class="col-md-6">
	<dl class="row">
		<dd class="col-sm-4">Strength...</dd>
		<dt class="col-sm-4">{{ abilities.STR.abilityScore }}</dt>
  </dl>
	<dl class="row">
		<dd class="col-sm-4">Dexterity</dd>
		<dt class="col-sm-4">{{ abilities.DEX.abilityScore }}</dt>
  </dl>
	<dl class="row">
		<dd class="col-sm-4">Constitution</dd>
		<dt class="col-sm-4">{{ abilities.CON.abilityScore }}</dt>
  </dl>
	</div>
	<div class="col-md-6">
	<dl class="row">
		<dd class="col-sm-4">Intelligence</dd>
		<dt class="col-sm-4">{{ abilities.INT.abilityScore }}</dt>
  </dl>
	<dl class="row">
		<dd class="col-sm-4">Wisdom</dd>
		<dt class="col-sm-4">{{ abilities.WIS.abilityScore }}</dt>
  </dl>
	<dl class="row">
		<dd class="col-sm-4">Charisma</dd>
		<dt class="col-sm-4">{{ abilities.CHA.abilityScore }}</dt>
  </dl>
	</div>
	</div>
	<h4>Inventory</h4>
	<div class="row">
		<ul>
			<li v-for="item in inventory">
				{{ item.repr }}
				</li>
			</ul>
		</div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
name: 'CharacterSheet',
computed: {
    ...mapState(['names',
		 'abilities',
		 'inventory',
		 'characterClass'])
}
}
</script>
