<template>	
  <div class="measure">
    <label for="playername" class="f6 b db mb2">Player Name</label>
    <input v-model="playerName" id="playername" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="playername-desc">
    <label for="charactername" class="f6 b db mb2">Character Name</label>
    <input v-model="characterName" id="charactername" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="charactername-desc">
  </div>
</template>

<script>

import { mapState, mapMutations } from 'vuex'

export default {
    name: 'FormNames',
    props: [],
    computed: {
	...mapState(['names']),
	playerName: {
	    get () {
		return this.$store.state.names.playerName
	    },
	    set (value) {
		this.$store.commit('setPlayerName', value) 
	    }
	},
	characterName: {
	    get () {
		return this.$store.state.names.characterName
	    },
	    set (value) {
		this.$store.commit('setCharacterName', value) 
	    }
	}
    }
}
</script>
