<template>
	<div class="form-group">
		<label for="exampleSelect1">Select thy class</label>
		<select class="form-control" id="characterClassSelect" v-model="selectedClass">
    <option
v-for="item in this.charClasses"
v-bind:value="item"
:disabled="!hasPrereqs(item.className)">
    {{ item.className }} -- {{item.description}} ({{ item.prerequisites }})
				</option>
    </select>
	</div>
</template>

<script>
	import { characterClasses } from '../characterModel.js'
	import { mapState, mapMutations} from 'vuex'

export default {
  name: 'FormClass',
	data: function () {
	return {
	    charClasses: characterClasses,
	    selectedClass: {}
	}
	},
    computed: {
	...mapState(['abilities', 'characterClass']),
	characterClass: {
	    get () {
		return this.$store.state.characterClass
	    },
	    set (value) {
		this.$store.commit('setClass', value)
	    }
	}
	},
	methods: {
	    hasPrereqs: function (cls) {
		if (cls == 'Wizard')
		{
		    if (this.abilities.INT.abilityScore < 9)
		    {
			return false
		    }
		    else {
			return true
		    }
		}
		if (cls == 'Wizard')
		{
		    if (this.abilities.INT.abilityScore < 9)
		    {
			return false
		    }
		    else {
			return true
		    }
		}
		if (cls == 'Fighter')
		{
		    if (this.abilities.STR.abilityScore < 9)
		    {
			return false
		    }
		    else {
			return true
		    }
		}
		if (cls == 'Druid')
		{
		    if (this.abilities.WIS.abilityScore < 9)
		    {
			return false
		    }
		    else {
			return true
		    }
		}
		if (cls == 'Thief')
		{
		    if (this.abilities.DEX.abilityScore < 9)
		    {
			return false
		    }
		    else {
			return true
		    }
		}
	    }
	},
    updated: function () {
	this.$store.commit('setCharacterClass', this.selectedClass)
    }
    }
</script>
