<template>
    <label class="col-form-label">{{ CON.abilityName }}
    <input class="form-control" style="width: 75px;" type="number" :min="this.min" :max="this.computeMax" v-model="CON.abilityScore"></input></label>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
    name: 'FormAbilityCON',
    data: function () {
	return {
	    min: 3
	}
    },
    computed: {
	...mapState(['abilities']),
	CON: {
	    get () {
		return this.$store.state.abilities.CON
	    },
	    set (value) {
		this.$store.commit('setCON', value)
	    }
	},
	computeMax: function () {
	    let currentScore = Number(this.CON.abilityScore)
	    let unspent = Number(this.abilities.unspent)
	    let max = currentScore + unspent
	    if (max > 18)
	    {
		return 18
	    }
	    else {
		return max
	    }
	}
    },
    updated: function () {
	let abilitiesList = [
	    this.abilities.STR.abilityScore,
	    this.abilities.DEX.abilityScore,
	    this.abilities.CON.abilityScore,
	    this.abilities.INT.abilityScore,
	    this.abilities.WIS.abilityScore,
	    this.abilities.CHA.abilityScore
	]
	let currentTotal = 0
	for (let i=0; i<abilitiesList.length; i++)
	{
	    currentTotal += Number(abilitiesList[i])
	}
	let unspent = this.abilities.total - currentTotal
	this.$store.commit('setCurrentTotal', currentTotal)
	this.$store.commit('setUnspent', unspent)
    }
}
</script>
