<template>
  <div>
    <h3>Equipment</h3>
    <p>Coinage: {{ availGold }} </p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Cost</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr><h4>Armour</h4></tr> 
				<tr class="table-active" v-for="item in equipmentList.armor">
					<th scope="row">{{ item.repr }}</th>
					<td>{{ item.cost }}</td>
    <td><button v-on:click="buy(item)" type="button" class="btn btn-primary">Buy</button></td>
				</tr>
				<tr><h4>Arms</h4></tr> 
				<tr class="table-active" v-for="item in equipmentList.weapon">
					<th scope="row">{{ item.repr }}</th>
					<td>{{ item.cost }}</td>
    <td><button v-on:click="buy(item)" type="button" class="btn btn-primary">Buy</button></td>
    </tr>
			</tbody>
    </table>
    <p>{{ inventory.length }}</p>
    </div>
    </template>

<script>
import { mapState, mapMutations } from 'vuex'
import { equipment } from '../characterModel.js'

export default {
    name: 'FormEquipment',
    data: function () {
	return {
equipmentList: equipment
	}
    },
    computed: {
	...mapState(['characterClass', 'gold', 'inventory']),
	availGold: function () {
	    let startGold = this.$store.state.characterClass.baseGold
	    let spentGold = 0
	    for (const item in this.$store.state.inventory)
	    {
		spentGold += item.cost
	    }
	    let goldAmount = startGold - spentGold
	    this.$store.commit('setGold', goldAmount)
	    return this.$store.state.gold
	}
},
    methods: {
	buy: function (item) {
	    this.$store.commit('addInventory', item)
	}
    }
}
</script>
