<template>
    <div>
    <div class="row justify-content-left">
    <div class="col-xs mr-3">
    <FormAbilitySTR></FormAbilitySTR>
    </div>
    <div class="col-xs mr-3">
    <FormAbilityDEX></FormAbilityDEX>
    </div>
    <div class="col-xs mr-3">
    <FormAbilityCON></FormAbilityCON>
    </div>
    </div>
    <div class="row justify-content-left">
    <div class="col-xs mr-3">
    <FormAbilityINT></FormAbilityINT>
    </div>
    <div class="col-xs mr-3">
    <FormAbilityWIS></FormAbilityWIS>
    </div>
    <div class="col-xs mr-3">
    <FormAbilityCHA></FormAbilityCHA>
    </div>
    </div>
    <p>Spendable: {{ this.abilities.unspent }}</p>
    </div>
</template>

<script>

import { mapState, mapMutations } from 'vuex'
import { computeModifer, ability } from '../characterModel.js'
import FormAbilitySTR from './FormAbilitySTR.vue'
import FormAbilityDEX from './FormAbilityDEX.vue'
import FormAbilityCON from './FormAbilityCON.vue'
import FormAbilityINT from './FormAbilityINT.vue'
import FormAbilityWIS from './FormAbilityWIS.vue'
import FormAbilityCHA from './FormAbilityCHA.vue'

export default {
    name: 'FormAbilities',
    components: {
	FormAbilitySTR,
	FormAbilityDEX,
	FormAbilityCON,
	FormAbilityINT,
	FormAbilityWIS,
	FormAbilityCHA
    },
    data: function () {
	return {
	    min: 3,
	    max: 18,
	    total: 0
	}
    },
    props: [],
    computed: {
	...mapState(['abilities'])
    },
    beforeMount: function () {
	let abilitiesList = [
	    this.abilities.STR.abilityScore,
	    this.abilities.DEX.abilityScore,
	    this.abilities.CON.abilityScore,
	    this.abilities.INT.abilityScore,
	    this.abilities.WIS.abilityScore,
	    this.abilities.CHA.abilityScore
	]
	let total = 0
	for (let i=0; i<abilitiesList.length; i++)
	{
	    total += abilitiesList[i]
	}
	this.total = total
	this.$store.commit('setTotal', this.total)
    },
    update: function () {
	let abilitiesList = [
	    this.abilities.STR.abilityScore,
	    this.abilities.DEX.abilityScore,
	    this.abilities.CON.abilityScore,
	    this.abilities.INT.abilityScore,
	    this.abilities.WIS.abilityScore,
	    this.abilities.CHA.abilityScore
	]
	let total = 0
	for (let i=0; i<abilitiesList.length; i++)
	{
	    total += abilitiesList[i]
	}
	this.total = total
    }
}
</script>
