<template>
  <div id="app">
  <CharacterForm></CharacterForm>
  </div>
</template>

<script>
import CharacterForm from './components/CharacterForm.vue'

export default {
  name: 'app',
  components: {
    CharacterForm
  }
}
</script>

<style src='bootstrap/dist/css/bootstrap.min.css'>
</style>
